/* variables */
$menuItemFontSize: 22px;
/* general */

/* menu styles */
.menu-item {
	position: relative;
	height: 100px;
	margin: auto;
	max-width: 260px;
	cursor: pointer;
	img {
		max-width: 130px;
		max-height: 130px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: 1s ease-out;
	}
	.menu-label {
		display: inline;
		max-width: 100px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: $menuItemFontSize;
		opacity: 0;
		transition: 0.5s ease-out;
	}
}

/* -------------lables----------- */

//============= lables 1,3,5====================//
.menu-item-1 .menu-label,
.menu-item-3 .menu-label,
.menu-item-5 .menu-label {
	left: 70px;
}

.animated-state-3 .menu-label,
.animated-state-5 .menu-label {
	left: 135px;
	opacity: 0.7;
}

.animated-state-1 .menu-label {
	left: 150px;
	opacity: 0.7 !important;
}

.active-state-5 .menu-label {
	left: 185px;
	opacity: 0.7;
}
.active-state-3 .menu-label {
	left: 135px;
	opacity: 0.7;
}
.active-state-1 .menu-label {
	opacity: 0;
}

//============= lables 2, 6====================//

.menu-item-2 .menu-label,
.menu-item-6 .menu-label {
	right: 70px;
}

.animated-state-2 .menu-label,
.animated-state-6 .menu-label {
	right: 140px;
	opacity: 0.7;
}
.active-state-2 .menu-label {
	right: 140px;
	opacity: 0.7;
}
.active-state-6 .menu-label {
	right: 124px;
	opacity: 0.7;
}
//============= lables 4 ====================//

.menu-item-4 .menu-label {
	left: 120px;
}
.animated-state-4 .menu-label {
	left: 200px;
	opacity: 0.7;
}
.active-state-4 .menu-label {
	left: 200px;
	opacity: 0.7;
}
/* ---------------------images------------ */
/* -==============mage 1 =======================*/
.menu-item-1 img {
	left: 20px;
}
.animated-state-1 img {
	left: 10px;
}

.active-state-1 img {
}

/* -==============mage 2 =======================*/

.menu-item-2 img {
	right: 20px;
	transform-origin: top;
}
.animated-state-2 img {
	right: -30px;
	transform: translateY(-50%) rotate(20deg);
}
.active-state-2 img {
	right: 8px;
	transform: translateY(-42%) rotate(-24deg);
}
/* -==============mage 3 =======================*/
.menu-item-3 img {
	left: 40px;
}
.animated-state-3 img {
	left: 0px;
	transform: translateY(-50%) rotate(39deg);
}
.active-state-3 img {
	left: 51px;
	transform: translateY(-50%) rotate(154deg);
}
/* ==============image 4=======================*/

.menu-item-4 img {
	right: 12px;
}
.animated-state-4 img {
	right: 83px;
}
.active-state-4 img {
	right: 60px;
}
/* -==============mage 5 =======================*/
.menu-item-5 img {
	right: 100px;
}
.animated-state-5 img {
	right: 183px;
	transform: translateY(-50%) rotate(-10deg);
}
.active-state-5 img {
	right: 80px;
}

/* -==============mage 6 =======================*/
.menu-item-6 img {
	left: 30px;
}
.animated-state-6 img {
	left: 170px;
	transform: translateY(-50%) rotate(-100deg);
}
.active-state-6 img {
	left: 150px;
	transform: translateY(-50%) rotate(-130deg);
}

/* end of menu styles */

a:hover {
	text-decoration: none;
	opacity: 0.7;
}
.lang-switch {
	color: black;
	&:hover {
		color: black;
	}
}
.video-details {
	text-align-last: left;
}
.outer-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.hidden-right {
	opacity: 0 !important;
	max-width: 112px;
	transform: translateX(-50px) !important;
}
.hidden-left {
	opacity: 0 !important;
	max-width: 112px;
	transform: translateX(+50px) !important;
}
.activeItemRight {
	.menu-label {
		opacity: 1 !important;
		@extend .hidden-right;
	}
	img {
		animation: thirdPostionRight 1s forwards;
	}
}
.activeItemLeft {
	.menu-label {
		opacity: 1 !important;
		@extend .hidden-left;
	}
	img {
		animation: thirdPostionLeft 1s forwards;
	}
}
.right-text-is-hidden {
	animation: toRight 1s forwards;
}
.left-text-is-hidden {
	animation: toLeft 1s forwards;
}
.right-text-is-hidden-removed {
	animation: backFromRight 1s forwards;
}
.left-text-is-hidden-removed {
	animation: backFromLeft 1s forwards;
}
/* menu style */

.section {
	padding: 1rem;
	height: 100%;
}
.section > div {
	padding-top: 2rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.company-name {
	font-weight: 100;
}
.single-service {
	h2 {
		font-weight: bold;
		margin-top: 1rem;
		font-size: 20px;
		padding-left: 20px;
		&::before {
			content: "";
			width: 7px;
			height: 7px;
			background-color: black;
			display: block;
			transform: translate(-12px, 16px);
			border-radius: 50%;
		}
	}
}

.gallery-carousel {
	.item {
		width: 100%;
		text-align: center;
		padding: 0 12px;
	}
	.owl-nav {
		position: absolute;
		top: 339px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		button.owl-next,
		button.owl-prev {
			border: solid 0.4px;
			width: 30px;
			border-radius: 6px;
			margin: 12px;
			&:focus {
				outline: none;
			}
		}
	}
}
.clients-images {
	img {
		width: 100%;
	}
}
.submit-btn {
	font-weight: 900;
	background-color: transparent;
	border: none;
	&:focus {
		outline: none;
	}
}
hr {
	width: 100%;
	background-color: #707070;
	height: 3px;
	margin-top: 0;
}
.contact-info {
	align-self: flex-start;
	font-size: 20px;
	a {
		color: black;
	}
}
.social-icons {
	align-self: flex-end;
}

.about-us {
	font-weight: 20px;
	padding: 10px 2rem;
}
.conpany-image {
	max-width: 400px;
	max-height: 400px;
	object-fit: cover;
	object-position: center;
}

.animateLogo {
	animation: rotate 1s forwards;
}
.unAnimateLogo {
	animation: unRotate 1s forwards;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(1);
	}
	100% {
		transform: rotate(-130deg) scale(1);
	}
}
@keyframes unRotate {
	0% {
		transform: rotate(-130deg) scale(1);
	}
	100% {
		transform: rotate(0deg) scale(1);
	}
}

/* gallery */

.owl-item:not(.active) {
	transform: scaleY(0.8) translateY(-22px);
	opacity: 0.3;
	z-index: -1;
}
//=========mobile styles======================//

@media screen and (max-width: 992px) {
	body {
		height: 100vh;
	}
	.conpany-image {
		animation: rotateLogo 1.8s forwards;
	}
	.company-holder {
		position: fixed;
		width: 90%;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		transition: 1s;
	}
	.inactive {
		top: 10px;
		right: 25px;
		width: 70px;
		height: 70px !important;

		.company-name {
			display: none;
		}
	}
	@keyframes rotateLogo {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-120deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
	.lang-switch-container {
		position: fixed;
		bottom: 15px;
		left: 20px;
		opacity: 0;
		transition: 0.4;
	}
	.outer-container {
		justify-content: flex-start;
	}
	#home {
		height: 0;
	}
	.main-menu {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
	}
	.section {
		position: relative;
		width: 100%;
	}

	.mobile-icon {
		position: absolute;
	}

	//========servies icon ================//
	#services {
		.mobile-icon {
			top: 23%;
			right: 23%;
			opacity: 0;
			transform: rotate(0deg);
			&.final-position {
				animation: animateServiceIcon 0.4s forwards ease-out;
			}
		}
	}
	@keyframes animateServiceIcon {
		0% {
			top: 23%;
			right: 23%;
			opacity: 0;
			transform: rotate(0deg);
		}
		100% {
			top: -7%;
			right: 37%;
			opacity: 1;
			transform: rotate(110deg);
		}
	}
	//========gallery icon ================//
	#gallery {
		.mobile-icon {
			top: 73%;
			right: 95%;
			opacity: 0;
			transform: rotate(0deg);
			&.final-position {
				animation: animateGalleryIcon 0.7s forwards ease-out;
			}
		}
	}
	@keyframes animateGalleryIcon {
		0% {
			top: 73%;
			right: 95%;
			opacity: 0.3;
			transform: rotate(0deg);
		}
		100% {
			top: -4%;
			right: 42%;
			opacity: 1;
			transform: rotate(131deg);
		}
	}
	//========clients icon ================//
	#clients {
		.mobile-icon {
			top: 73%;
			right: 95%;
			opacity: 0;
			transform: rotate(0deg);
			&.final-position {
				animation: animateClientsIcon 0.7s forwards ease-out;
			}
		}
	}
	@keyframes animateClientsIcon {
		0% {
			top: 73%;
			right: 95%;
			opacity: 0.3;
			transform: rotate(0deg);
		}
		100% {
			top: -7%;
			right: 37%;
			opacity: 1;
			transform: rotate(131deg);
		}
	}
	//========contact icon ================//
	#contact {
		.mobile-icon {
			top: 49%;
			right: -5%;
			opacity: 0;
			transform: rotate(0deg);
			&.final-position {
				animation: animateContactIcon 0.7s forwards ease-out;
			}
		}
	}
	@keyframes animateContactIcon {
		0% {
			top: 49%;
			right: -5%;
			opacity: 0.3;
			transform: rotate(0deg);
		}
		100% {
			top: -4%;
			right: 44%;
			opacity: 1;
			transform: rotate(82deg);
		}
	}
	//========about-us icon ================//
	#about-us {
		.mobile-icon {
			top: 138%;
			right: 79%;
			opacity: 0;
			transform: rotate(0deg);
			&.final-position {
				animation: animateAboutUsIcon 0.7s forwards ease-out;
			}
		}
	}
	@keyframes animateAboutUsIcon {
		0% {
			top: 138%;
			right: 79%;
			opacity: 0.3;
			transform: rotate(0deg);
		}
		100% {
			top: -9%;
			right: 25%;
			opacity: 1;
			transform: rotate(161deg);
		}
	}
	.gallery-carousel .item {
		padding: 0;
	}
}
