/* variables */
/* general */
/* menu styles */
.menu-item {
  position: relative;
  height: 100px;
  margin: auto;
  max-width: 260px;
  cursor: pointer;
}

.menu-item img {
  max-width: 130px;
  max-height: 130px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.menu-item .menu-label {
  display: inline;
  max-width: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

/* -------------lables----------- */
.menu-item-1 .menu-label,
.menu-item-3 .menu-label,
.menu-item-5 .menu-label {
  left: 70px;
}

.animated-state-3 .menu-label,
.animated-state-5 .menu-label {
  left: 135px;
  opacity: 0.7;
}

.animated-state-1 .menu-label {
  left: 150px;
  opacity: 0.7 !important;
}

.active-state-5 .menu-label {
  left: 185px;
  opacity: 0.7;
}

.active-state-3 .menu-label {
  left: 135px;
  opacity: 0.7;
}

.active-state-1 .menu-label {
  opacity: 0;
}

.menu-item-2 .menu-label,
.menu-item-6 .menu-label {
  right: 70px;
}

.animated-state-2 .menu-label,
.animated-state-6 .menu-label {
  right: 140px;
  opacity: 0.7;
}

.active-state-2 .menu-label {
  right: 140px;
  opacity: 0.7;
}

.active-state-6 .menu-label {
  right: 124px;
  opacity: 0.7;
}

.menu-item-4 .menu-label {
  left: 120px;
}

.animated-state-4 .menu-label {
  left: 200px;
  opacity: 0.7;
}

.active-state-4 .menu-label {
  left: 200px;
  opacity: 0.7;
}

/* ---------------------images------------ */
/* -==============mage 1 =======================*/
.menu-item-1 img {
  left: 20px;
}

.animated-state-1 img {
  left: 10px;
}

/* -==============mage 2 =======================*/
.menu-item-2 img {
  right: 20px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.animated-state-2 img {
  right: -30px;
  -webkit-transform: translateY(-50%) rotate(20deg);
          transform: translateY(-50%) rotate(20deg);
}

.active-state-2 img {
  right: 8px;
  -webkit-transform: translateY(-42%) rotate(-24deg);
          transform: translateY(-42%) rotate(-24deg);
}

/* -==============mage 3 =======================*/
.menu-item-3 img {
  left: 40px;
}

.animated-state-3 img {
  left: 0px;
  -webkit-transform: translateY(-50%) rotate(39deg);
          transform: translateY(-50%) rotate(39deg);
}

.active-state-3 img {
  left: 51px;
  -webkit-transform: translateY(-50%) rotate(154deg);
          transform: translateY(-50%) rotate(154deg);
}

/* ==============image 4=======================*/
.menu-item-4 img {
  right: 12px;
}

.animated-state-4 img {
  right: 83px;
}

.active-state-4 img {
  right: 60px;
}

/* -==============mage 5 =======================*/
.menu-item-5 img {
  right: 100px;
}

.animated-state-5 img {
  right: 183px;
  -webkit-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.active-state-5 img {
  right: 80px;
}

/* -==============mage 6 =======================*/
.menu-item-6 img {
  left: 30px;
}

.animated-state-6 img {
  left: 170px;
  -webkit-transform: translateY(-50%) rotate(-100deg);
          transform: translateY(-50%) rotate(-100deg);
}

.active-state-6 img {
  left: 150px;
  -webkit-transform: translateY(-50%) rotate(-130deg);
          transform: translateY(-50%) rotate(-130deg);
}

/* end of menu styles */
a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.lang-switch {
  color: black;
}

.lang-switch:hover {
  color: black;
}

.video-details {
  text-align-last: left;
}

.outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hidden-right, .activeItemRight .menu-label {
  opacity: 0 !important;
  max-width: 112px;
  -webkit-transform: translateX(-50px) !important;
          transform: translateX(-50px) !important;
}

.hidden-left, .activeItemLeft .menu-label {
  opacity: 0 !important;
  max-width: 112px;
  -webkit-transform: translateX(50px) !important;
          transform: translateX(50px) !important;
}

.activeItemRight .menu-label {
  opacity: 1 !important;
}

.activeItemRight img {
  -webkit-animation: thirdPostionRight 1s forwards;
          animation: thirdPostionRight 1s forwards;
}

.activeItemLeft .menu-label {
  opacity: 1 !important;
}

.activeItemLeft img {
  -webkit-animation: thirdPostionLeft 1s forwards;
          animation: thirdPostionLeft 1s forwards;
}

.right-text-is-hidden {
  -webkit-animation: toRight 1s forwards;
          animation: toRight 1s forwards;
}

.left-text-is-hidden {
  -webkit-animation: toLeft 1s forwards;
          animation: toLeft 1s forwards;
}

.right-text-is-hidden-removed {
  -webkit-animation: backFromRight 1s forwards;
          animation: backFromRight 1s forwards;
}

.left-text-is-hidden-removed {
  -webkit-animation: backFromLeft 1s forwards;
          animation: backFromLeft 1s forwards;
}

/* menu style */
.section {
  padding: 1rem;
  height: 100%;
}

.section > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-name {
  font-weight: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service h2 {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 20px;
  padding-left: 20px;
}

.single-service h2::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: black;
  display: block;
  -webkit-transform: translate(-12px, 16px);
          transform: translate(-12px, 16px);
  border-radius: 50%;
}

.gallery-carousel .item {
  width: 100%;
  text-align: center;
  padding: 0 12px;
}

.gallery-carousel .owl-nav {
  position: absolute;
  top: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.gallery-carousel .owl-nav button.owl-next,
.gallery-carousel .owl-nav button.owl-prev {
  border: solid 0.4px;
  width: 30px;
  border-radius: 6px;
  margin: 12px;
}

.gallery-carousel .owl-nav button.owl-next:focus,
.gallery-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.clients-images img {
  width: 100%;
}

.submit-btn {
  font-weight: 900;
  background-color: transparent;
  border: none;
}

.submit-btn:focus {
  outline: none;
}

hr {
  width: 100%;
  background-color: #707070;
  height: 3px;
  margin-top: 0;
}

.contact-info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 20px;
}

.contact-info a {
  color: black;
}

.social-icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about-us {
  font-weight: 20px;
  padding: 10px 1rem;
}

.conpany-image {
  max-width: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.animateLogo {
  -webkit-animation: rotate 1s forwards;
          animation: rotate 1s forwards;
}

.unAnimateLogo {
  -webkit-animation: unRotate 1s forwards;
          animation: unRotate 1s forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-130deg) scale(1);
            transform: rotate(-130deg) scale(1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-130deg) scale(1);
            transform: rotate(-130deg) scale(1);
  }
}

@-webkit-keyframes unRotate {
  0% {
    -webkit-transform: rotate(-130deg) scale(1);
            transform: rotate(-130deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes unRotate {
  0% {
    -webkit-transform: rotate(-130deg) scale(1);
            transform: rotate(-130deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

/* gallery */
.owl-item:not(.active) {
  -webkit-transform: scaleY(0.8) translateY(-22px);
          transform: scaleY(0.8) translateY(-22px);
  opacity: 0.3;
  z-index: -1;
}

.gallery-carousel .item {
  width: 100%;
  text-align: center;
  padding: 0;
}

.gallery-carousel .owl-nav {
  position: absolute;
  top: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.gallery-carousel .owl-nav button.owl-next,
.gallery-carousel .owl-nav button.owl-prev {
  border: solid 0.4px;
  width: 30px;
  border-radius: 6px;
  margin: 12px;
}

.gallery-carousel .owl-nav button.owl-next:focus,
.gallery-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  #home {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #home .conpany-image {
    -webkit-animation: rotateHomeImage 1.5s forwards;
            animation: rotateHomeImage 1.5s forwards;
  }
  #home.not-active {
    width: 80px !important;
    height: 40px;
    top: 0;
    right: 0;
  }
  #home.not-active .company-name {
    font-size: 0px;
  }
  @-webkit-keyframes rotateHomeImage {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(90deg) scale(1.1);
              transform: rotate(90deg) scale(1.1);
    }
    100% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
  }
  @keyframes rotateHomeImage {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(90deg) scale(1.1);
              transform: rotate(90deg) scale(1.1);
    }
    100% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
  }
  .lang-switch-container {
    position: fixed;
    bottom: 12px;
    left: 12px;
  }
  .section {
    position: fixed;
    width: 100%;
    height: calc(100vh - 17vh);
    margin-top: 17vh;
  }
  .home-section {
    position: fixed;
    right: 0;
    width: 100%;
    height: calc(100vh);
    z-index: 22;
  }
  .main-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
  }
  .carousel-vedio {
    width: 100%;
  }
  .form-control {
    background-color: transparent;
  }
  /* =======menu item styling with keyframes ================== */
  .menu-item-1.not-active img {
    top: -200px;
    opacity: 0;
  }
  .menu-item-1.active img {
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .menu-item-2.not-active img {
    top: -161px;
    opacity: 0;
  }
  .menu-item-2.active img {
    top: -116px;
    right: 50%;
    -webkit-transform: translateX(71%) rotate(20deg);
            transform: translateX(71%) rotate(20deg);
    opacity: 1;
  }
  .menu-item-3.not-active img {
    top: 146px;
    left: -100px;
    opacity: 0;
  }
  .menu-item-3.active img {
    top: -215px;
    right: 50%;
    -webkit-transform: translateX(84%) rotate(13deg);
            transform: translateX(84%) rotate(13deg);
    opacity: 1;
  }
  .menu-item-4.not-active img {
    top: 89px;
    right: -138px;
    opacity: 0;
  }
  .menu-item-4.active img {
    top: -327px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 1;
  }
  .menu-item-5.not-active img {
    top: 205px;
    right: -73px;
    opacity: 0;
  }
  .menu-item-5.active img {
    top: -400px;
    right: 50%;
    -webkit-transform: translateX(50%) rotate(80deg);
            transform: translateX(50%) rotate(80deg);
  }
  .menu-item-6.not-active img {
    top: 157px;
    left: -74px;
    opacity: 0;
  }
  .menu-item-6.active img {
    top: -500px;
    right: 50%;
    -webkit-transform: translateX(125%) rotate(175deg);
            transform: translateX(125%) rotate(175deg);
  }
  /* to prevent refreshing the page when scrolling on chrome */
  html,
  body {
    overscroll-behavior-y: contain;
  }
  .gallery-carousel .item {
    padding: 0;
  }
  .carousel-vedio {
    height: 180px !important;
  }
  .gallery-carousel .owl-nav {
    top: 200px;
  }
  .clients-images img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */